<a href="https://colab.research.google.com/github/Mathias0210/Bach/blob/main/Pyth2fors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.8)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [2]:
from google.colab import files
uploaded = files.upload()
df = pd.read_excel('SalesData.xlsx')
# Vis de første rækker for at validere data
df.head()

Saving SalesData.xlsx to SalesData.xlsx

,TransaktionsID,RækkeID,KundeID,Navn,Adresse1,Postnr,LevBynavn,Land,ExtSystemId,KategoriID,ProduktID,ProductName,Uom
0,21221405,75277762,996409,Hansens VVS APS,NaN,3230.0,Græsted,DK,lemu-dk,Metro Therm,345166400,Metro Therm el-vandvarmer model 30 type 907 26...,STK
1,21229498,75280255,995782,Krøll Cranes A/S,NaN,3540.0,Lynge,DK,lemu-dk,Slange PA,7830309398,Slange PA6 SW-Ø21 sort 50M,RUL
2,21121214,75280118,995782,Krøll Cranes A/S,NaN,3540.0,Lynge,DK,lemu-dk,C Karakteristik,0422207630,Automatsikring 6KA 3P C 10A 5SY6310-7,STK
3,21072615,75277996,995782,Krøll Cranes A/S,NaN,3540.0,Lynge,DK,lemu-dk,Ligekærv LK,4323400050,"Wiha skruetrækker slimFix LK 3,5 VDE 1000V",STK
4,21072615,75278024,995782,Krøll Cranes A/S,NaN,3540.0,Lynge,DK,lemu-dk,CEE stikpropper 63 ampere,1515134033,CEE stikprop 5 polet 63A 400V IP44,STK

In [3]:
# Tilføjer "_" til produktID
df['ProduktID'] = df['ProduktID'].apply(lambda x: '_'+str(x))

#Sætter alle produktnavne til stort
df['ProductName']=df['ProductName'].str.upper()

In [4]:
# DataFrame til at bygge selve recommenderen
orders = df[['TransaktionsID', 'ProduktID']]
print(orders.shape)
print(orders.head(10))
# DataFrame til at findeproductnavne, bliver benyttet som opslagstabel
products = df[['ProduktID', 'ProductName']].copy()

print(products.shape)
print(products.head(10))

(10000, 2)
   TransaktionsID    ProduktID
0        21221405   _345166400
1        21229498  _7830309398
2        21121214  _0422207630
3        21072615  _4323400050
4        21072615  _1515134033
5        21072615  _1515132035
6        21222356  _4443160332
7        21222356  _4326906029
8        21218223  _2119002052
9        21218223  _2119808667
(10000, 2)
     ProduktID                                        ProductName
0   _345166400  METRO THERM EL-VANDVARMER MODEL 30 TYPE 907 26...
1  _7830309398                         SLANGE PA6 SW-Ø21 SORT 50M
2  _0422207630              AUTOMATSIKRING 6KA 3P C 10A 5SY6310-7
3  _4323400050         WIHA SKRUETRÆKKER SLIMFIX LK 3,5 VDE 1000V
4  _1515134033                 CEE STIKPROP 5 POLET 63A 400V IP44
5  _1515132035             CEE FORLÆNGERLED 5 POLET 63A 400V IP44
6  _4443160332             BOREPATRON TIL M18 FPD/FDD, M18 ONEPD,
7  _4326906029                 TAJIMA 5M HI LOCK 25MM RØD KPS KL1
8  _2119002052  SIKKERHEDSAFBRYDER 16A 3 POLET  MED HJÆLPEKONT...
9  _2119808667  HJÆLPEKONTAKT 1 SLUTTE FOR 16/125A AFBRYDER OA...

In [5]:
# Fjerner duplikerede linjer i product dataframe
products = products[~products.duplicated()]


print(products.shape)
print(products.head(10))

(6477, 2)
     ProduktID                                        ProductName
0   _345166400  METRO THERM EL-VANDVARMER MODEL 30 TYPE 907 26...
1  _7830309398                         SLANGE PA6 SW-Ø21 SORT 50M
2  _0422207630              AUTOMATSIKRING 6KA 3P C 10A 5SY6310-7
3  _4323400050         WIHA SKRUETRÆKKER SLIMFIX LK 3,5 VDE 1000V
4  _1515134033                 CEE STIKPROP 5 POLET 63A 400V IP44
5  _1515132035             CEE FORLÆNGERLED 5 POLET 63A 400V IP44
6  _4443160332             BOREPATRON TIL M18 FPD/FDD, M18 ONEPD,
7  _4326906029                 TAJIMA 5M HI LOCK 25MM RØD KPS KL1
8  _2119002052  SIKKERHEDSAFBRYDER 16A 3 POLET  MED HJÆLPEKONT...
9  _2119808667  HJÆLPEKONTAKT 1 SLUTTE FOR 16/125A AFBRYDER OA...

In [6]:
# Fra tidligere trin er der nu kun ca. 6500 linjer i produkt men det bemærkes 

# Downloader produkt dataframen som et led i data preprocessing til at finde hvorfor der er for mange rækker jf. data understanding fasen

#products.to_excel('Products.xlsx')
#files.download('Products.xlsx')

#Det bemærkes at forekllige productnavne har samme produktID, ved nærmere inspektion er det dog de samme produkter bare med forskellige navne.

In [7]:
# Fremviser "fejlen" med duplikerede navne


products = (products
.sort_values(by=['ProduktID'],ascending=False))

products.head(160)

#Se produktID _9978858000

        ProduktID                                        ProductName
6964     _RIVS810       RUSTFRIE STÅLRØR EN 1.4301 GLØDEDE 8X1,00 MM
5611    _RIVG4832  RUSTFRIE GEVINDRØR EN 1.4301 GLØDEDE 48,3X3,25 MM
9581     _RIV4603           RUSTFRIE STÅLRØR EN 1.4301 60X60X3,00 MM
858      _RIV4404           RUSTFRIE STÅLRØR EN 1.4301 40X40X4,00 MM
8118     _RIV4403           RUSTFRIE STÅLRØR EN 1.4301 40X40X3,00 MM
...           ...                                                ...
1472  _9978864311                              VENTILATOR EDM 100 HZ
9679  _9978863079                                      SILENT 200 CZ
9044  _9978858000                           THERMEX SILENT ONE, HVID
3943  _9978858000                       THERMEX SILENT ONE Ø100 HVID
2629  _9978857386                           SILENT 100 CHRZ - DESIGN

[160 rows x 2 columns]

In [8]:
#Fjerner fejlene fra Products ved at overskrive dubletterne

products = products.drop_duplicates(subset='ProduktID', keep="last")
print(products.shape)
products.head(160)

(6351, 2)

        ProduktID                                        ProductName
6964     _RIVS810       RUSTFRIE STÅLRØR EN 1.4301 GLØDEDE 8X1,00 MM
5611    _RIVG4832  RUSTFRIE GEVINDRØR EN 1.4301 GLØDEDE 48,3X3,25 MM
9581     _RIV4603           RUSTFRIE STÅLRØR EN 1.4301 60X60X3,00 MM
858      _RIV4404           RUSTFRIE STÅLRØR EN 1.4301 40X40X4,00 MM
8118     _RIV4403           RUSTFRIE STÅLRØR EN 1.4301 40X40X3,00 MM
...           ...                                                ...
1472  _9978864311                              VENTILATOR EDM 100 HZ
9679  _9978863079                                      SILENT 200 CZ
3943  _9978858000                       THERMEX SILENT ONE Ø100 HVID
2629  _9978857386                           SILENT 100 CHRZ - DESIGN
8302  _9921006016                        PRESMUFFE - CU 10 MM²  XG7T

[160 rows x 2 columns]

In [9]:
# Sætter index til at være kategoriID

products = products.set_index('ProduktID')

# Konverterer til serie for at lave lettere opslag senere
products = products['ProductName']

#Fremviser typen
print(products)
print(type(products))

ProduktID
_RIVS810           RUSTFRIE STÅLRØR EN 1.4301 GLØDEDE 8X1,00 MM
_RIVG4832     RUSTFRIE GEVINDRØR EN 1.4301 GLØDEDE 48,3X3,25 MM
_RIV4603               RUSTFRIE STÅLRØR EN 1.4301 60X60X3,00 MM
_RIV4404               RUSTFRIE STÅLRØR EN 1.4301 40X40X4,00 MM
_RIV4403               RUSTFRIE STÅLRØR EN 1.4301 40X40X3,00 MM
                                    ...
_000090126                VINKEL 90° SORT MUFFE/MUFFE 1/2 X 3/8
_000090110                    VINKEL 90° SORT MUFFE/MUFFE 1 1/4
_000090108                        VINKEL 90° SORT MUFFE/MUFFE 1
_000090106                      VINKEL 90° SORT MUFFE/MUFFE 3/4
_000090104                      VINKEL 90° SORT MUFFE/MUFFE 1/2
Name: ProductName, Length: 6351, dtype: object
<class 'pandas.core.series.Series'>

In [84]:
#products.to_excel('Products.xlsx')
#files.download('Products.xlsx')

In [10]:
#Der blev fjernet lidt over 100 fejl med denne metode og jeg må antage at produkterne er de samme og tabellen nu er klar til brug


#Jeg går nu videre til min liste af transaktioner
#Et loop der laver en liste med alle kategoriID'er for hver transaktion og konsoliderer ordrer med alle produkter der har været i

def string_list(x):
    return [str(i) for i in x]

orders = orders.groupby('TransaktionsID')['ProduktID'].apply(list).reset_index()

#Der var sneget sig et par ekstra [] ind i produktname som jeg her fjerner

df['ProduktID'] = df['ProduktID'].str.strip('[]')
orders.head(100)

    TransaktionsID                                          ProduktID
0         16458869                                      [_1016008150]
1         16671499                                      [_3980020020]
2         16686990             [_4419003986, _4438001708, _728428023]
3         17632461                                       [_980419066]
4         18029570                                      [_7818230573]
..             ...                                                ...
95        21051238                                      [_7897992599]
96        21052330                                      [_7897700998]
97        21052385  [_4333956718, _4333956890, _4333956719, _43299...
98        21053098               [_4361904104, _5788180022, _RIVS810]
99        21053527  [_1020007943, _1017039885, _1017039898, _92211...

[100 rows x 2 columns]

In [11]:
# Downloader filen som excel for at validere at data er ok

#orders.to_excel('orders.xlsx')
#files.download('orders.xlsx')

orders.shape

(3084, 2)

In [12]:
#Importerer mlxtend https://towardsdatascience.com/mlxtend-a-python-library-with-interesting-tools-for-data-science-tasks-d54c723f89cd

from mlxtend.preprocessing import TransactionEncoder

In [13]:
# Definerer transactionencoder funktionen som en variabel
te = TransactionEncoder()

#Omdanner til en matrix med KategoriID som kolonner og transaktioner som rækker.
te.fit(orders['ProduktID'])
orders_1hot = te.transform(orders['ProduktID'])

# Te.columns giver adgang til de unikke værdier i kategoriID som svarer til 
orders_1hot = pd.DataFrame(orders_1hot, columns =te.columns_)
orders_1hot.head()

,_000090104,_000090106,_000090108,_000090110,_000090126,_000090404,_000090406,_000092104,_000092106,_000092108,...,_RGKF303,_RIG14832,_RIHF3320,_RIV4253,_RIV4303,_RIV4403,_RIV4404,_RIV4603,_RIVG4832,_RIVS810
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [75]:
#Importerer apriori som er vores unsupervised metode
from mlxtend.frequent_patterns import apriori

#Instantierer apriori funktionen med datasettet der er klargjort og viser itemsets ud fra support

ap = apriori(orders_1hot, min_support=0.004, max_len=2, use_colnames=True)
ap = ap.sort_values(by="support",ascending=False)
ap.head(10)

     support                    itemsets
5   0.011673               (_1017036338)
20  0.011349               (_1017056279)
24  0.010376               (_1017056402)
16  0.010376               (_1017054433)
19  0.010052               (_1017056266)
46  0.008755  (_1017056279, _1017056402)
8   0.008431               (_1017037023)
14  0.008431               (_1017041679)
38  0.008431               (_9221164140)
27  0.007782               (_1017059373)

In [80]:
from mlxtend.frequent_patterns import association_rules

#Viser her de stærkeste associationer
rules = association_rules(ap,metric="lift", min_threshold = 1.2)
print(rules.head(100))

      antecedents    consequents  antecedent support  consequent support  \
0   (_1017056279)  (_1017056402)            0.011349            0.010376
1   (_1017056402)  (_1017056279)            0.010376            0.011349
2   (_1017037023)  (_1017037764)            0.008431            0.007782
3   (_1017037764)  (_1017037023)            0.007782            0.008431
4   (_1017036338)  (_1017056279)            0.011673            0.011349
5   (_1017056279)  (_1017036338)            0.011349            0.011673
6   (_1017056266)  (_1017056363)            0.010052            0.006809
7   (_1017056363)  (_1017056266)            0.006809            0.010052
8   (_1017056295)  (_1017056279)            0.007782            0.011349
9   (_1017056279)  (_1017056295)            0.011349            0.007782
10  (_1017036338)  (_1017056402)            0.011673            0.010376
11  (_1017056402)  (_1017036338)            0.010376            0.011673
12  (_1017056334)  (_1017056279)            0.006161            0.011349
13  (_1017056279)  (_1017056334)            0.011349            0.006161
14  (_1017056295)  (_1017056525)            0.007782            0.006485
15  (_1017056525)  (_1017056295)            0.006485            0.007782
16  (_1017056525)  (_1017056402)            0.006485            0.010376
17  (_1017056402)  (_1017056525)            0.010376            0.006485
18  (_1017056525)  (_1017056279)            0.006485            0.011349
19  (_1017056279)  (_1017056525)            0.011349            0.006485
20  (_1017056295)  (_1017056402)            0.007782            0.010376
21  (_1017056402)  (_1017056295)            0.010376            0.007782
22  (_1017056800)  (_1017056402)            0.005188            0.010376
23  (_1017056402)  (_1017056800)            0.010376            0.005188
24  (_1017056266)  (_1017056279)            0.010052            0.011349
25  (_1017056279)  (_1017056266)            0.011349            0.010052
26  (_1017056334)  (_1017056800)            0.006161            0.005188
27  (_1017056800)  (_1017056334)            0.005188            0.006161

     support  confidence        lift  leverage  conviction
0   0.008755    0.771429   74.346429  0.008637    4.329604
1   0.008755    0.843750   74.346429  0.008637    6.327367
2   0.005837    0.692308   88.961538  0.005771    3.224708
3   0.005837    0.750000   88.961538  0.005771    3.966278
4   0.005512    0.472222   41.609524  0.005380    1.873234
5   0.005512    0.485714   41.609524  0.005380    1.921747
6   0.005512    0.548387   80.534562  0.005444    2.199208
7   0.005512    0.809524   80.534562  0.005444    5.197228
8   0.005512    0.708333   62.414286  0.005424    3.389661
9   0.005512    0.485714   62.414286  0.005424    1.929313
10  0.005512    0.472222   45.510417  0.005391    1.875077
11  0.005512    0.531250   45.510417  0.005391    2.108431
12  0.005188    0.842105   74.201504  0.005118    6.261457
13  0.005188    0.457143   74.201504  0.005118    1.830756
14  0.005188    0.666667  102.800000  0.005138    2.980545
15  0.005188    0.800000  102.800000  0.005138    4.961089
16  0.004864    0.750000   72.281250  0.004797    3.958495
17  0.004864    0.468750   72.281250  0.004797    1.870146
18  0.004540    0.700000   61.680000  0.004466    3.295504
19  0.004540    0.400000   61.680000  0.004466    1.655858
20  0.004540    0.583333   56.218750  0.004459    2.375097
21  0.004540    0.437500   56.218750  0.004459    1.763943
22  0.004540    0.875000   84.328125  0.004486    7.916991
23  0.004540    0.437500   84.328125  0.004486    1.768555
24  0.004215    0.419355   36.951152  0.004101    1.702677
25  0.004215    0.371429   36.951152  0.004101    1.574917
26  0.004215    0.684211  131.881579  0.004183    3.150238
27  0.004215    0.812500  131.881579  0.004183    5.300476

In [81]:
#Funktion der laver foreslag baseret på produktID

def predict(antecedent, rules, max_results= 6):
    
    # Finder reglerne for den gældende antedecent
    preds = rules[rules['antecedents'] == antecedent]
    preds = preds['consequents'].apply(iter).apply(next)
    
    # Returnerer antal forslag som der er angivet i predict funktionen
    return preds[:max_results]

In [87]:
    # Her skal indsættes det ProduktID som der ønskes anbefalinger ud fra
    preds = predict({'_1017037023'}, rules)

    # Vil returnere produktID for de consequents der hører til antedecent
    preds

2    _1017037764
Name: consequents, dtype: object

In [88]:
    # Benytter products til at hente produktnavne fremfor intetsigende produktID
    for produktID in preds:  
      print(products[produktID])

LK FUGA BASELINE 50 UNDERLAG 1½ MODUL HVID